<md-content flex ng-init="onLoad()">

    <div layout="column" layout-fill>

        <div layout="row">
            <md-toolbar >
                <div class="md-toolbar-tools">
                    <!--<md-button class="md-icon-button" aria-label="go back" ng-if="currentPath != '/'">-->
                        <!--<md-icon class="fas fa-arrow-left"></md-icon>-->
                    <!--</md-button>-->

                    <h2 flex md-truncate>{{currentPath}}</h2>

                    <md-button class="md-icon-button" aria-label="edit path">
                        <div class="fas fa-edit"></div>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="go back" ng-if="currentPath != '/'" ng-click="goBack()">
                        <div class="fas fa-arrow-left"></div>
                    </md-button>
                </div>
            </md-toolbar>
        </div>

        <div layout="row">

            <md-grid-list
                    md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px" style="margin: 8px;" flex>

                <md-grid-tile ng-repeat="(key, item) in directoryStructure"
                              md-rowspan="1"
                              md-colspan="1"
                              md-colspan-sm="1"
                              md-colspan-xs="1"
                              style="background: #448aff;" ng-click="item.hasOwnProperty('uuid') != true ? enterTo(key) : false" >
                    <md-icon class="fas fa-2x fa-folder-open" ng-if="item.hasOwnProperty('uuid') != true"></md-icon>
                    <h2 style="text-align: center;color:white" ng-if="item.mimetype" layout-padding>{{item.mimetype}}</h2>
                    <md-grid-tile-footer style="background: rgba(0, 0, 0, 0.68);height: 36px;width: 100%;">
                        <h3 style="margin: 0;font-weight: 700;width: 100%;text-align: center;" layout-padding>{{item.originalname || key}}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
        <!--<div>-->
            <!--<md-button ng-click="toggleRight()"-->
                       <!--ng-hide="isOpenRight()"-->
                       <!--class="md-primary">-->
                <!--Toggle right-->
            <!--</md-button>-->
        <!--</div>-->
        <div class="lock-size" layout="row" layout-align="end end" style="position:fixed;width: 100%;bottom: 0px;">
            <md-fab-speed-dial md-open="floatingBtnIsOpen" md-direction="up"
                               class="md-fling">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <!--<md-icon md-svg-src="img/icons/menu.svg"></md-icon>-->
                        <div class="fas fa-bars"></div>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <!--<md-button aria-label="Twitter" class="md-fab md-raised md-mini">-->
                        <!--&lt;!&ndash;<md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>&ndash;&gt;-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="Facebook" class="md-fab md-raised md-mini">-->
                        <!--&lt;!&ndash;<md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>&ndash;&gt;-->
                    <!--</md-button>-->
                    <md-button aria-label="upload" class="md-fab md-raised md-mini">
                        <!--<md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>-->
                        <div class="fas fa-cloud-upload-alt"></div>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </div>

    <!--<div flex></div>-->

</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="testInput">Test input</label>
                <input type="text" id="testInput"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
        </md-button>
    </md-content>

</md-sidenav>